[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "ammp-docs/themes/ananke"]
	path = ammp-docs/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
